<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:font-weight="http://www.w3.org/1999/xhtml"
      lang="EN">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>

    <title>Admin panel</title>
    <script src=/navBar.js></script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark text-white fixed-top"
     style="display: flex; justify-content: space-between; align-items: center">
    <div id="navbar">    </div>
    <div>
        <form th:action="@{/logout}" th:method="post">
            <a href="/logout" th:method="post" style="color: grey">Logout</a>
        </form>
    </div>
</nav>

<div class="p-3"></div>
<div class="p-2 bg-dark text-white">
</div>
<div class="container">
<div class="row">
    <div class="col-2 nav-pills p-1 m-0 align-self-start">

        <nav sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active">
            <form th:action="@{/admin}" th:method="get">
                <a href="/admin" th:method="get" style="color: white">ADMIN</a>
            </form>
        </nav>
        <nav sec:authorize="hasRole('ROLE_USER')" class="nav-link">
            <form th:action="@{/user}" th:method="get">
                <a href="/user" th:method="get">USER</a>
            </form>
        </nav>

    </div>

    <div class="col-sm-10">

        <h2 style="font-weight: bolder">Admin panel</h2>
        <div id="adminPanel"></div>
    </div>

</div>

<script src=/allUsers.js></script>
<script src=/addNewUserWindow.js></script>
<script src=/addNewUserAction.js></script>
<script src=/redirectingToStart.js></script>
<script src=/changeUserModal.js></script>
<script src=/deleteUserModal.js></script>
<script src=/changeUserAction.js></script>
<script src=/deleteUserAction.js></script>

<div class="modal fade" id="changeModal" tabindex="-1" role="dialog"
     aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div id="changing" class="col-6">
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button id="changeConfirm" type="submit" class="btn btn-primary"
                        onclick="changeUserAction()" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
      aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body">
                <div class="row">
                    <div class="col-3"></div>
                    <div id="deleting" class="col-6">
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button id="deleteConfirm" type="submit" class="btn btn-danger"
                        onclick="deleteUserAction()" data-dismiss="modal">
                    Delete </button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</div>
</div>
</body>
</html>

